@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar on all major browsers */
body {
  overflow-y: scroll; /* Keeps scroll functionality */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}


/* Hide scrollbar on the specific container */
.scrollbarNone {
  overflow-y: scroll; /* Keeps scroll functionality */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbarNone::-webkit-scrollbar {
  display: none;
}
@keyframes loadFromNegative {
  0% {
    transform: translate3d(-100%, -100%, -100%); /* Start from -x, -y, -z */
    opacity: 0; /* Optional: Start invisible */
  }
  100% {
    transform: translate3d(0, 0, 0); /* End at original position */
    opacity: 1; /* Optional: Fade in */
  }
}

.element {
  animation: loadFromNegative 1.5s ease forwards; /* Apply the animation */
}
