@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
/* Hide scrollbar globally for the entire body */

  /* Optionally, you can apply it to specific containers */
  .hide-scrollbar-global {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .hide-scrollbar-global::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }


  .hide-map {
    display: none;
  }
  

  /* Scrollbar for Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d7dc9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d7dc9;
  border-radius: 10px;
  border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2d7dc9;
}

/* Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2d7dc9 #f1f1f1;
}
